:root{
    --vermelho: #e11721;
    --preto: #212121;
    --branco: rgb(255, 255, 255);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Capriola', sans-serif;
    color:var(--branco);
}
header .principal{
    border: 2px solid rgb(0, 0, 0);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
header .logo{
    color: var(--vermelho);
    font-size:60px;
    margin-left:5px;
}

header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
}
header nav a:hover{
    color: rgb(186, 186, 186);
    
}
.anime-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),url(/imgs/naruto.jpg);
    height:330px;
    width:100%;
    background-size: cover;
    background-repeat:no-repeat;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}
.anime-principal .descricao{
    margin-bottom:80px;
}
.titulo{
    margin-top: 15%;
    font-size:50px;
    font-family:'Trebuchet MS', Arial, sans-serif;
}
.botao{
    background-color: rgba(0,0,0,.50);
    color:white;
    border:none;
    padding:15px 30px;
    cursor: pointer;
    margin-right: 15px;
    font-size:12px;
    transition: .4s ease all;
}
.botao:hover{
    background-color: white;
    color:black;
}
.botao i{
    margin-right: 5px;
}

.anime-principal .container{
    width: 40%;
}